// Specific CSS for your home-page

body {
    background-color: #2063ac;
}

.main-container {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Candal', sans-serif;
    font-size: 32px;
}

p, a, li, input, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}