<div class="index-container">
  <% @bookings.each do |booking| %>
    <div class="card">
      <div class="card-content">
        <h3> <%= link_to  "offer.booking.title", offer_bookings_path %> </h3>
        <p> <%= booking.offer.datetime %> </p>
        <p> <%= booking.offer.max_players %> </p>
      </div>
    </div>
  <% end %>
</div>
