<div class="background-profil">
  <div class="profile-card">
    <div id="login-container">
        <div class="profile-img" style="background-image: url(<%= cl_image_path current_user.photo.key %>)"></div>
          <div class="nickname-age">
            <h1><%= current_user.nickname%></h1>
            <h3><%= current_user.age %> ans</h3>
          </div>
          <div class="description">
            <p><%= current_user.description %></p>
          </div>
        </div>
      <ul class="onglets">
        <li class="bookings-onglet active">Bookings</li>
        <li class="reviews-onglet">Reviews</li>
      </ul>
      <div class="modal-bookings">
        <% @booked_offers.each do |booking| %>
          <div class="booking-card">
          </div>
        <% end %>
      </div>
      <div class="modal-reviews">
      </div>
    </div>
  </div>
</div>


