<div class="profile-card">
   <div id="login-container">
      <div class="profile-img"></div>
         <h1>current_user.name</h1>
      <div class="description">
         Je suis un footballeur du Brésil, j'aime bien dribbler et m'amuser avec les adversaires sur le terrain 
      </div>
   </div>
   <%= link_to "See more games", offers_path, class: "btn-animate"%>
</div>




