<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#",class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
  <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>

        <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <% end %>
    <% else %>

    <% end %>
  </div>

</div>
