<div class="cards-container">
  <% @offers.each do |offer| %>
    <div class="card">
        <h3> <%= link_to  offer.title, offer_path(offer) %> </h3>
        <%= offer.time %>
    </div>
  <% end %>
</div>

