.cards-container {
    position: relative;
    top: 0px;
    bottom: 70px;
    height: calc(100vh - 70px);
    width: calc(100% - 6px);
    margin: 0 auto;
    overflow: hidden;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.6);
    img {
        border-radius: 8px;
    }
}

.time-offer {
  display: flex;
  justify-content: center;
  background-color: #ffffff8c;
  padding: 8px;
  width: 50%;
  border-radius: 24px;
  margin: 4% auto 0;
  h3 {
    font-size: 34px;
    text-align: center;
  }
}

.card-text {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.719);
    color: #000000;
    position: absolute;
    bottom: 12%;
    left: 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    height: 20%;

    .title-offer {
      text-align: center;
      margin-top: 14px;

      h3 {
        font-size: 24px;
      }
    }

    .players-missing {
      text-align: center;

      h3 {
        font-size: 32px;
      }
    }

    .num-players {
      text-align: center;

      h3 {
        font-size: 20px;
      }
    }

    
}

.opac {
    display: flex;
    position: absolute;
    left: 5%;
    width: 90%;
    justify-content: space-between;
    margin: 40px auto;
}

.play {
    color: #2ecc71;
    transform: rotateZ(-25deg);
    font-weight: bold;
    font-size: 48px;
    border: 3px solid #2ecc71;
    border-radius: 8px;
    padding: 5px 5px;
    opacity: 0;
}

.pass {
    color: #e74c3c;
    transform: rotateZ(25deg);
    font-weight: bold;
    font-size: 48px;
    border: 3px solid #e74c3c;
    border-radius: 8px;
    padding: 5px 5px;
    opacity: 0;
}

.play--transition, .pass--transition {
    animation: opac 0.4s forwards;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card--match {
  transition: 0.4s;
  transform:translateX(1500px) translateY(600px) rotate(90deg);
}

.card--next {
  transition: 0.4s;
  transform:translateX(-1500px) translateY(600px) rotate(-90deg);
}

.card--back {
  transition:0.4s;
}

.swipe-svg {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
  top: 57%;
  left: 40%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  animation: movepng 1s infinite;
}

@keyframes movepng {
  0% {
    transform: translateX(5px);    
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}