.home-container {
    margin: 0 auto;
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 30px;
    border-radius: 4px;
}

.home-cage {
    width: 120%;
    transform: translateX(-40px);
    margin-top: -32px;
}
.home-title {
    height: 90px;
    width: 100%;
    color: rgba(0, 0, 0, 0.800);
    margin-top: 30px;
    text-shadow: 1px 1px 0 #ffffff,
                -1px 1px 0 #51ee43,
                1px -1px 0 #ffffff,
                -1px -1px 0 #ffffff,
                0px 1px 0 yellow,
                0px -1px 0 yellow,
                -1px 0px 0 #51ee43,
                1px 0px 0 yellow,
                2px 2px 0 yellow,
                -2px 2px 0 yellow,
                2px -2px 0 yellow,
                -2px -2px 0 yellow,
                0px 2px 0 #51ee43,
                0px -2px 0 yellow,
                -2px 0px 0 yellow,
                2px 0px 0 yellow,
                1px 2px 0 #39ac2f,
                -1px 2px 0 #39ac2f,
                1px -2px 0 #39ac2f,
                -1px -2px 0 #39ac2f,
                2px 1px 0 #51ee43,
                -2px 1px 0 #39ac2f,
                2px -1px 0 #39ac2f,
                -2px -1px 0 #39ac2f;
    padding: 30px;
}
.text-center {
    background-color: white;
    padding: 8px;
    height: 112%;
    width: 100%;
    margin-left: -20px;
    margin-top: -60px;
    position: absolute;


    h1 {
      font-family: 'Candal', sans-serif;
      font-size: 40px;
      margin-top: 12px;
    }
}
.text-container {
    text-align: center;
    margin-top: 16%;
}


  .both-counters {
    height: 240px;
    width: 100%;
    

    .game-counter {
      color: white;
      background: #061321;
      border-top-left-radius: 64px;
      border-bottom-left-radius: 64px;
      border: 3px outset #587ea7;
      font-weight: bolder;
      box-shadow: 0px 0px 0px 1.5px rgba(white ,0.55);
      margin-left: 100px;
      margin-bottom: 16px;
      width: 100%;

        p {
          font-size: 24px;
          margin-right: 42px;
        }

        h4 {
          font-size: 40px;
          margin-right: 32px;
          margin-top: 8px;
        }
      }
      
      .current-booking {
        color: white;
        background: #061321;
        border-top-right-radius: 64px;
        border-bottom-right-radius: 64px;
        border: 3px outset #587ea7;
        font-weight: bolder;
        box-shadow: 0px 0px 0px 1.5px rgba(white ,0.55);
        margin-right: 100px;
        margin-bottom: 16px;
        margin-left: -32px;

        p {
          font-size: 24px;
        }

        h4 {
          font-size: 40px;
          margin-top: 8px;
        }
      }

    
  }


i{
    color: rgba(0, 0, 0, 0.800);
    background-color: rgba(rgb(255, 255, 255), 0.1);
}
// .fa-futbol {
//     margin: -12px;
// }
// .fa-futbol:before {
//     padding: 14px;
//     font-size: 32px;
//     display: block;
//     margin: -12px;
//   }

.show-container {
    width: 100vw;
    height: calc(100vh + 40px);
    background-color: $green;
}

.mini-show {
    display: flex;
    flex-flow: column;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    padding: 4px 8px;
    margin: 30px auto 0;
    h2 {
        font-weight: bold;
    }
    p {
        margin: 0;
    }
}

.in-green {
    color: $green;
}

.box-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    a {
        text-align: center;
        width: 150px;
        margin: 0;
    }
}

.kick {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.weather {
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    flex-flow: column;
    text-align: center;
    padding: 20px 0;
    p {
        margin: 0;
    }
    hr {
        margin: 5px auto;
    }
}

.weather h2 {
     font-size: 2rem;
     font-weight: bold;
}

.weather-celsius {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.weather-temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temp-deg1 {
    text-align: start;
}

.temp-deg2 {
    text-align: start;
}


.home-text {
    background-color: #061321;
    color: white;
    width: 100%;
    margin-left: -30px;
    position: absolute;
    top: 14%;

    h2 {
        margin-top: 14px;
        font-size: 28px;
    }

}