.home-container {
    margin: 0 auto;
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 30px;
    border-radius: 4px;
}

.home-cage{
    height: 90px;
    width: 400px;
    transform: translateX(-40px);
}
.home-title {
    height: 90px;
    width: 100%;
    color: rgba(0, 0, 0, 0.800);
    margin-top: 30px;
    text-shadow: 1px 1px 0 #ffffff,
                -1px 1px 0 #51ee43,
                1px -1px 0 #ffffff,
                -1px -1px 0 #ffffff,
                0px 1px 0 yellow,
                0px -1px 0 yellow,
                -1px 0px 0 #51ee43,
                1px 0px 0 yellow,
                2px 2px 0 yellow,
                -2px 2px 0 yellow,
                2px -2px 0 yellow,
                -2px -2px 0 yellow,
                0px 2px 0 #51ee43,
                0px -2px 0 yellow,
                -2px 0px 0 yellow,
                2px 0px 0 yellow,
                1px 2px 0 #39ac2f,
                -1px 2px 0 #39ac2f,
                1px -2px 0 #39ac2f,
                -1px -2px 0 #39ac2f,
                2px 1px 0 #51ee43,
                -2px 1px 0 #39ac2f,
                2px -1px 0 #39ac2f,
                -2px -1px 0 #39ac2f;
    padding: 30px;
}
.text-center {
    margin-top: 5px;
}
.text-container {
    text-align: center;
    padding-left: 0;
}
i{
    color: rgba(0, 0, 0, 0.800);
    background-color: rgba(rgb(255, 255, 255), 0.1);
}
.fa-futbol {
    margin: -12px;
}

.show-container {
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: $green;
}

.mini-show {
    text-align: center;
    background-color: white;
    width: 100vw;
}

.box-btn {
    text-align: center;
    margin-top: 30px;
}

.kick {
    text-align: center;
    color: white;
    margin-top: 10px;
}