.background-profil {
  background-color: #39ac2f;
  margin: 5px auto;
}

.profile-card {
  position: relative;
  height: calc(100vh - 70px);
  width: 98%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);

  #login-container {
  
  .nickname-age {
    display: flex;
    justify-content: center;
    align-content: center;
  }

 

  .profile-img {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    &:active {
      transform: rotate(-360deg);
      transition: transform 500ms ease-in-out;
    }
  }
}

  .btn-profil {
    background-color: #39ac2f;
    padding: 14px;
    font-size: 22px;
    border-radius: 8px;
    color: beige;
    transition: ease-in-out .3s;
    text-decoration: none;

    &:active {
      box-shadow: 0px 0px 0px 1.5px rgba(253, 253, 253, 0.5);
      transform: scale(1);
      background-color: beige;
      color: #39ac2f;
      border: 1px solid #39ac2f;
    }
  }

  .description {
    border: 1px ridge black;
    padding: 16px;
    margin: 55px auto 0;
    width: 95%;
    height: auto;

    p {
      text-align: center;
      height: 100%;
      white-space: normal;
    }
  }
}

  .bookings {
    justify-content: center;
    margin: 0 auto;

    .booking-field {
      height: 144px;
      overflow: scroll;
      margin: auto;
      width: 90%;
      margin-left: -6px;

      .booked {
        background-color: yellowgreen;
        border-radius: 8px;
        padding: 4px;
      }
    }
    
  }

  li {
    margin-top: 0;
    margin-left: 0;
  }

  .trigger {
    background-color: #39ac2f;
    padding: 8px;
    font-size: 22px;
    border-radius: 8px;
    color: beige;
    transition: ease-in-out .3s;
    text-decoration: none;
  }

  

  .proficard-title {
    display: flex;
    justify-content: center;

    .fa-star:before {
      color: yellow;
      padding: 14px;
      font-size: 32px;
    }
  }

