.profile-card {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);

  #login-container {

    background: rgb(57,172,47);
    background: linear-gradient(180deg, rgba(57,172,47,1) 0%, rgba(57,172,47,1) 0%, rgba(230,241,229,1) 64%, rgba(255,255,255,1) 100%);
  .nickname-age {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column;
    height: auto;
    width: auto;
    padding: 20px 0 0 30%;
    margin-left: -100px;
  }

  .profile-link {
    display: flex;
    justify-content: space-evenly;
    margin-left: 210px;
    margin-top: 8px;
  }

  .profile-logout {
    font-size: 18px;
    background-color: white;
    border: 1px solid rgba($color: #39ac2f, $alpha: 1.0);
    // box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 0 6px;
    color: #39ac2f;
    font-weight: bold;
  }

  .profile-edit {
    font-size: 18px;
    background-color: white;
    border: 1px solid rgba($color: #39ac2f, $alpha: 1.0);
    // box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .2), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);

    border-radius: 4px;
    padding: 0 6px;
    color: #39ac2f;
    font-weight: bold;
  }
  #name {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    color: white;
  }
  .profile-age {
    font-size: 24px;
    padding-left: 10px;
  }

  .profile-img {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    &:active {
      transform: rotate(-360deg);
      transition: transform 500ms ease-in-out;
    }
  }
}

.description {
  // background-color: rgba($color: #ffffff, $alpha: 1);
  // border: 1px ridge rgb(170, 253, 167);
  // box-shadow: 7px 1px 30px 0px rgb(216, 216, 216);
  background-color: #fff;

	// padding: 1.125em 1.5em;
	// font-size: 1.25em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  padding: 16px;
  margin: 10px auto 0;
  width: 95%;
  height: auto;
  // border-radius: 12px;



  p {
    text-align: center;
    height: 100%;
    white-space: normal;
  }
}
}

.onglets {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 70px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
  // margin-top: 10px;
  color: rgba($color: #000000, $alpha: 0.4);
  li {
    margin-right: 20px;
  }
}

.active {
  transition: all 0.4s ease-in-out;
  color: rgba($color: #000000, $alpha: 0.8);
  text-decoration: underline #39ac2f;
}

.main-modal {
  display: flex;
  width: 200vw;
  transition: 0.4s ease-in-out;
}

.modal-bookings {
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
  }
}

.modal-reviews {
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
  }
}

.move-right {
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
}

.booked {
  display: flex;
  position: relative;
  background-color: #fff;

	// padding: 1.125em 1.5em;
	// font-size: 1.25em;
	// border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  // border: 1px solid rgba($color: #000000, $alpha: 0.5);
  border-radius: 8px;
  width: 90%;
  margin: 0 auto 10px;
  height: 100px;
  li {
    display: flex;
    height: 60px;
    align-items: center;
    margin-left: 10px;
  }
}

.avatar {
  display: flex;
  font-size: 24px;
  align-items: center;
  font-weight: bold;
  background-color:#39ac2f;
  border-radius: 8px;
  opacity: 0.8;
  height: 100%;
  width: 100px;
  margin: auto 0;
  color: white;
}

.passed-games > .avatar {
  background-color:#e74c3c;
  opacity: 1;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);

}

.profile-play-btn {
  position: absolute;
  right: 5%;
  top: 60%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  background-color:#39ac2f;
  color: white;
  padding: 2px 8px;
}

.profile-delete-btn {
  position: absolute;
  font-size: 20px;
  right: 5px;
  top: 2px;
}